
h1{font-size: 150px; color: forestgreen
	}
h2{font-size: 60px; color: pink}

.big{		
	font-size: 100px
}

.small{
	font-size: 10px
}

.uppercase{
	text-transform: uppercase;
}

.big.uppercase{
	color: navy
}

h1 span{color: violet}
